/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

/* Подключение шрифта Press Start 2P */
@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.woff2") format("woff2"),
    url("../fonts/PressStart2P-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Подключение вариативного шрифта Inter (с диапазоном весов) */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.woff2")
    format("woff2-variations")
    format("woff2 supports variations");
  font-weight: 400 to 785;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "slnt" 0, "wght" 400;
}
