/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" 410;
  justify-content: flex-start;
  min-block-size: 100vh;
  min-inline-size: 320px;
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

.header {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  width: var(--container-width);
}

.header__content {
  margin: 130px 122.5px;
}

@media (width <= 375px) {
  .header__content {
    margin: 122px 16px;
  }
}

.header__title {
  color: #000;
  font-family: var(--font-accent), fantasy;
  font-size: var(--title-font-size);
  font-weight: 400;
  margin-block-end: 20px;
}

.header__subtitle {
  color: #000;
  font-family: var(--font-accent), fantasy;
  font-size: var(--subtitle-font-size);
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  display: grid;
  gap: 52px;
  margin-top: 100px;
}

.card {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  max-width: 696px;
  position: relative;
  inline-size: 100%;
}

.card__image {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  display: block;
  height: auto;
  margin-top: 2px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.card__image-wrapper {
  position: relative;
}

.card__title {
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  font-variation-settings: 715;
  padding: 4px 10px;
}

.card__description {
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  font-variation-settings: 410;
  line-height: 1.2;
  margin: 25px 25px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  background-color: transparent;
  font-family: var(--font-accent), fantasy;
  padding: 5px 10px;
  opacity: 0.5;
  mix-blend-mode: hard-light;

  text-shadow: -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color), -1px 1px 0 var(--label-stroke-color),
    1px 1px 0 var(--label-stroke-color);

  @supports (text-stroke: 1px var(--label-stroke-color)) or
    (-webkit-text-stroke: 1px var(--label-stroke-color)) {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.text_label {
  font-size: 14px;
}

.filter_grayscale {
  filter: grayscale(90%);
}

.filter_complex {
  filter: grayscale(50%) sepia(30%) blur(3px) contrast(120%);
}

.filter_sepia {
  filter: sepia(60%);
}

.filter_saturate {
  filter: saturate(150%);
}

.filter_blur {
  filter: blur(5px);
}

.filter_opacity {
  opacity: 0.6;
}

.filter_invert {
  filter: invert(80%);
}

.filter_contrast {
  filter: contrast(150%);
}

.button {
  background-color: var(--bg-color);
  border: 2px solid #000;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.card__buttons {
  align-items: center;
  margin-bottom: 25px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-right: 25px;
}

.card__icon-button {
  align-items: center;
  background-color: #fff;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__like-button {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 38px;
  width: 130px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.sparks {
  opacity: 0;
}

.like-icon .contour {
  transition: fill 0.1s linear 0s;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
  fill: transparent;
}

.like-icon .main-body {
  transition: fill 0.3s linear 0s;
  fill: transparent;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-fade 0.3s ease-in 0.3s;
}

.save-button {
  height: clamp(55px, 40%, 84px);
  margin: 0 auto;
  margin-bottom: 100px;
  width: clamp(306px, 80%, 335px);
}

.button__text {
  color: var(--text-color);
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-align: center;
  z-index: 2;
  mix-blend-mode: difference;
}

.save-icon {
  color: var(--text-color);
  height: 21px;
  width: 21px;
  margin-right: 8px;
  position: relative;
  transition: color 0.3s ease;
  z-index: 2;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 84px;
  }

  .save-icon {
    height: 28px;
    width: 28px;
    margin-bottom: 8px;
  }
}

.dialog {
  border: 2px solid #000;
  font-family: var(--font-accent), fantasy;
  max-width: 353px;
  padding: 0;
}

dialog[open] {
  display: block;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-content {
  align-items: center;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.floppy__text {
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 14px;
}

.ok-button {
  margin: 30px;
  padding: 11px 128px;
}

.dialog-icon {
  width: 39px;
  inline-size: 50%;
  height: 39px;
}

@media (width <= 375px) {
  .dialog {
    max-width: 341px;
  }

  .dialog-content {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }

  .ok-button {
    margin: 30px 40px;
    padding: 11px 112px;
  }
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button::before {
  background-color: #000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
}

.button:hover::before {
  transform: translateX(0);
}

.button span {
  mix-blend-mode: difference;
  position: relative;
  color: var(--text-color);
  z-index: 2;
}
