/* В этом файле будут храниться все значения переменных 
  в исходном состоянии, а так же их изменения в зависимости 
  от ширины устройства */

:root {
  --font-main: "Inter";
  --font-accent: "PressStart2P";

  --font-weight-normal: 410;
  --font-weight-bold: 715;

  --label-stroke-color: rgba(255, 255, 255, 0.6);
  --label-text-color: rgba(0, 0, 0, 0.8);
  --accent-color: #000;

  --contour-color: #000;
  --animation-fill-color: #ff0000;

  --bg-color: #fff;
  --text-color: #fff;

  --container-width: clamp(375px, 90vw, 700px);
  --title-font-size: clamp(49px, 4vw, 65px);
  --subtitle-font-size: clamp(14px, 1.5vw, 23px);
}
